/*color texto de la nav*/
$navtext: #B82312;

/*etiquetas h1, h2 y texto de cards y footer*/
$tittles: #041E02;

/*textos de la web*/
$text: #345911;

/*boton enviar y menu desplegable*/
$light: #EBDBC9;

/*llamativo - usado en los h3, boton de enviar y línea separación*/
$jazzy: #FF6333;

/*bordes de formulario*/
$border: grey;

/*footer background-color*/
$backfooter: rgba(203, 191, 191, 0.6117647059);

/*cards background-color*/
$backcards: rgba(255, 99, 51, 0.3215686275);

/*menu background-color*/
$backmenu: rgba(184, 35, 18, 0.8431372549);

/*hover boton enviar*/
$hoversend: rgba(255, 99, 51, 0.5215686275);