@mixin tittleStyle ($color, $fontSize, $fontFamily){
    color: $color;
    font-size: $fontSize;
    font-family: $fontFamily;
    font-weight: lighter; 
}

@mixin button ($color) {
    border-color: $color;

    @if $color == $text {
        border-style: solid;
    }
    @else if $color == $tittles {
        border-style: dotted;
    }
    @else {
        border-style: dashed;
    }
}