.estructuraIndex {
    display: grid;
    grid-template-areas: "header"
                         "main"
                         "footer";
    grid-template-rows: 0.5fr 2fr 0.5fr;
}

.estructuraProductos {
    display: grid;
    grid-template-areas: "header"
                         "main"
                         "footer";
    grid-template-rows: 0.5fr 6fr 0.5fr;
}

.estructuraConocenos {
    display: grid;
    grid-template-areas: "header"
                         "main"
                         "footer";    
    grid-template-rows: 0.5fr 4fr 0.5fr;
}

.estructuraSabias {
    display: grid;
    grid-template-areas: "header"
                         "main"
                         "footer";    
    grid-template-rows: 0.5fr 6.5fr 0.5fr;
}

.estructuraContactame {
    display: grid;
    grid-template-areas: "header"
                         "main"
                         "footer";
    grid-template-rows: 0.5fr 3fr 0.5fr;
}