.btnPedidos {
    padding: 8%;

    button {
        padding: 1rem;
        width: 15rem;
        font-size: 1.3rem;
        border-radius: 5rem;
        @include button ($text);
        cursor: pointer;

        a {
            color: $text;
            text-decoration: none;
        }

        &:hover {
            transform: scale(1.2)
        }
    }
}

.formulario {
    #btnLogin{
        width: 93%;
        padding: 10px;
        font-size: 16px;
        border: none;
        outline: 0;
        background: $jazzy;
        color: $light;
        border-radius: 3px;
        cursor: pointer;
        transition: all 300ms ease;

        &:hover {
            background: $hoversend;
        }
    }
    #btnRegistro{
        width: 25%;
        padding: 10px;
        font-size: 16px;
        border: none;
        outline: 0;
        background: $jazzy;
        color: $light;
        border-radius: 3px;
        cursor: pointer;
        transition: all 300ms ease;

        &:hover {
            background: $hoversend;
        }
    }
}

.contForm {
    .btnEnviar {
        padding: 15px;
        font-size: 16px;
        border: none;
        outline: 0;
        background: $jazzy;
        color: $light;
        border-radius: 3px;
        cursor: pointer;
        transition: all 300ms ease;

        &:hover {
            background: $hoversend;
        }
    }
}