.formulario {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    border-left: double 0.5rem $jazzy;
}

#acceso{
    border: none;
    .campo{
        background:none;
        width: 20rem;
        margin: 10px;
        padding: 5px;
        border: none;
        border-bottom: solid $border;
    }
}

#formRegistro{
    border: none;
    .campo{
        background:none;
        width: 20rem;
        margin: 10px 5px 10px;
        padding: 5px;
        border: none;
        border-bottom: solid $border;
    }
    .formControl{
        display: flex;
        flex-direction: row;
        div{
            display: flex;
            flex-direction: row;
            justify-content:space-between;
            align-items: center;
            
            i{
                visibility: hidden;
                margin: 3.5px 3.5px 3.5px 0px;
            }
            p{
                color: $border;
                font-size: 0.8rem;
                margin: 3px;
                display: flex;
                justify-content: center;
                visibility: hidden;
            }
        }
        
    }
    .formControlSuccess{
        input{
            border-color: $text;
        }
        i.fa-check{
            visibility: visible;
        }
        
    }
    .formControlError{
        div{
            p{
                visibility: visible;
            }
            i.fa-exclamation{
                    visibility: visible;
            }
        }
        
    }
}

.contForm {
    form {

        .campo,
        textarea {
            width: 20rem;
            padding: 15px 10px;
            font-size: 1rem;
            border: solid $border;
            margin-bottom: 0.5rem;
            border-radius: 5px;
            outline: 0;
        }

        textarea {
            max-width: 20rem;
            min-width: 20rem;
            min-height: 10rem;
            max-width: 12rem;
        }
    }
}

